<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- START Authentication Filter for Admin Page -->
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>security.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/settingSubject</url-pattern>
        <url-pattern>/setting</url-pattern>
        <url-pattern>/userDetail</url-pattern>
        <url-pattern>/userList</url-pattern>

        <!-- Add other URL patterns for the admin role here -->
    </filter-mapping>
    <!-- END Authentication Filter for Admin Page -->
    
    <!-- START Authentication Filter for Manager Page -->
    <filter>
        <filter-name>ManagerAuthenticationFilter</filter-name>
        <filter-class>security.ManagerAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerAuthenticationFilter</filter-name>
        <url-pattern>/settingSubject</url-pattern>
        <url-pattern>/setting</url-pattern>
        <url-pattern>/userDetail</url-pattern>
        <url-pattern>/userList</url-pattern>
        <!-- Add other URL patterns for the manager role here -->
    </filter-mapping>
    <!-- END Authentication Filter for Manager Page -->
    
    <!-- START Authentication Filter for Trainer Page -->
    <filter>
        <filter-name>TrainerAuthenticationFilter</filter-name>
        <filter-class>security.TrainerAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TrainerAuthenticationFilter</filter-name>
        <url-pattern></url-pattern>
        <!-- Add URL patterns for the trainer role here -->
    </filter-mapping>
    <!-- END Authentication Filter for Trainer Page -->

    <!-- START Authentication Filter for Normal Page -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>security.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/changepassword</url-pattern>
        <!-- Add other URL patterns for the normal role here -->
    </filter-mapping>
    <!-- END Authentication Filter for Normal Page -->
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Login.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authen</servlet-name>
        <servlet-class>Login.controller.authen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Login.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Login.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Login.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingSubject</servlet-name>
        <servlet-class>Admin.controller.SettingSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendEmailServlet</servlet-name>
        <servlet-class>controller.ResendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>Admin.controller.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>Admin.controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditController</servlet-name>
        <servlet-class>Admin.controller.UserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Admin.controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectController</servlet-name>
        <servlet-class>Admin.controller.AddSubjectController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>Manager.controller.SubjectList</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <!-- Specify the URL pattern of the default page -->
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authen</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingSubject</servlet-name>
        <url-pattern>/settingSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendEmailServlet</servlet-name>
        <url-pattern>/resendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectController</servlet-name>
        <url-pattern>/addSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/userEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/subjectList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
