<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- WELCOME FILE LIST -->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <!-- START Authentication Filter for Admin Page -->
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>security.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerAuthenticationFilter</filter-name>
        <filter-class>security.ManagerAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TrainerAuthenticationFilter</filter-name>
        <filter-class>security.TrainerAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>security.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/settingSubject</url-pattern>
        <url-pattern>/setting</url-pattern>
        <url-pattern>/userDetail</url-pattern>
        <url-pattern>/userList</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerAuthenticationFilter</filter-name>
        <url-pattern>/settingSubject</url-pattern>
        <url-pattern>/setting</url-pattern>
        <url-pattern>/userDetail</url-pattern>
        <url-pattern>/userList</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TrainerAuthenticationFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/changepassword</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Login.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authen</servlet-name>
        <servlet-class>Login.controller.authen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Login.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Login.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Login.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingSubject</servlet-name>
        <servlet-class>Admin.controller.SettingSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>User.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>User.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>User.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>ForgetPassword.controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendEmailServlet</servlet-name>
        <servlet-class>ForgetPassword.controller.ResendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>ForgetPassword.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>Admin.controller.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>Admin.controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditController</servlet-name>
        <servlet-class>Admin.controller.UserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Admin.controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectController</servlet-name>
        <servlet-class>Admin.controller.AddSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>Manager.controller.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsListController</servlet-name>
        <servlet-class>Manager.controller.QuestionsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonListController</servlet-name>
        <servlet-class>Manager.controller.LessonListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailController</servlet-name>
        <servlet-class>Manager.controller.LessonDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonEditController</servlet-name>
        <servlet-class>Manager.controller.LessonEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizList</servlet-name>
        <servlet-class>Manager.controller.QuizList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewQuiz</servlet-name>
        <servlet-class>Manager.controller.NewQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetail</servlet-name>
        <servlet-class>Manager.controller.QuizDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListServlet</servlet-name>
        <servlet-class>Class.controller.classListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailServlet</servlet-name>
        <servlet-class>Class.controller.classDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterClassServlet</servlet-name>
        <servlet-class>Class.controller.filterClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchClassesServlet</servlet-name>
        <servlet-class>Class.controller.searchClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClassServlet</servlet-name>
        <servlet-class>Class.controller.updateClassSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassStudentListServlet</servlet-name>
        <servlet-class>Class.controller.classStudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClassServlet</servlet-name>
        <servlet-class>Class.controller.newClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classSearchStudentServlet</servlet-name>
        <servlet-class>Class.controller.classSearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineLearning</servlet-name>
        <servlet-class>OnlineLearn.OnlineLearning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLessonController</servlet-name>
        <servlet-class>Manager.controller.AddLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Manager.controller.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLesson</servlet-name>
        <servlet-class>Manager.controller.SearchLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getChapter</servlet-name>
        <servlet-class>utils.getChapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestionController</servlet-name>
        <servlet-class>Manager.controller.deleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quizs</servlet-name>
        <servlet-class>Manager.controller.Quizs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>User.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>Manager.controller.addQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editQuestionServlet</servlet-name>
        <servlet-class>Manager.controller.editQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>Login.controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authen</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingSubject</servlet-name>
        <url-pattern>/settingSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendEmailServlet</servlet-name>
        <url-pattern>/resendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectController</servlet-name>
        <url-pattern>/addSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/userEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/subjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonListController</servlet-name>
        <url-pattern>/lessonList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailController</servlet-name>
        <url-pattern>/lessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonEditController</servlet-name>
        <url-pattern>/lessonEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizList</servlet-name>
        <url-pattern>/quizlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewQuiz</servlet-name>
        <url-pattern>/newquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetail</servlet-name>
        <url-pattern>/quizdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListServlet</servlet-name>
        <url-pattern>/classlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailServlet</servlet-name>
        <url-pattern>/classdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterClassServlet</servlet-name>
        <url-pattern>/filterclasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchClassesServlet</servlet-name>
        <url-pattern>/searchclasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClassServlet</servlet-name>
        <url-pattern>/updateclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassStudentListServlet</servlet-name>
        <url-pattern>/classstudentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClassServlet</servlet-name>
        <url-pattern>/newclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsListController</servlet-name>
        <url-pattern>/QuestionsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classSearchStudentServlet</servlet-name>
        <url-pattern>/classsearchstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineLearning</servlet-name>
        <url-pattern>/onlineLearning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLessonController</servlet-name>
        <url-pattern>/addLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLesson</servlet-name>
        <url-pattern>/searchLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getChapter</servlet-name>
        <url-pattern>/getChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestionController</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quizs</servlet-name>
        <url-pattern>/quizs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editQuestionServlet</servlet-name>
        <url-pattern>/editQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
